@model Loans.Models.BorrowersView

<h1>Borrower</h1>
<form asp-controller="User" asp-action="BorrowerRegister" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"/><br>
    <label asp-for="LastName"></label>
    <input asp-for="LastName"/><br>
    <label asp-for="Email"></label>
    <input asp-for="Email"/><br>
    <label asp-for="Password"></label>
    <input asp-for="Password" type="password"/><br>
    <label for="">Need Money For:</label>
    <input asp-for="LoanReason"><br>
    <label asp-for="Description"></label>
    <textarea asp-for="Description"></textarea><br>
    <label for="">Amount</label>
    <input asp-for="LoanAmount" type="number"><br>
    <button type="submit">Register</button>
</form>